MNEMONIC="here is where your twelve words mnemonic should be put my friend"
PRIVATE_KEY="******"
INFURA_API_KEY="********************************"
INFURA_API_SECRET="********************************"
ALCHEMY_API_KEY="********************************"
ETHERSCAN_API_KEY="********************************"